@using Web.Resources
@model Web.DAL.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">

    <h1>
        <img src="~/Images/CBPay_Logo.jpg" alt="MiCole" width="20%" height="20%" />
    </h1>

    <h2>Login</h2>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <fieldset>

            @Html.TextBoxFor(m => m.UserName, new { placeholder = Global.Usuario, style = "font-family:Arial" })
            @Html.ValidationMessageFor(m => m.UserName)

            @Html.PasswordFor(m => m.Password, new { placeholder = Global.Contrasena, style = "font-family:Arial" })
            @Html.ValidationMessageFor(m => m.Password)

            @Html.ValidationSummary(true)

            <input type="submit" value="IniciarSesion" class="btn-primary login-primary">

            @*<div class="text-center" style="padding-top: 20px;">
                    @Html.ActionLink(@Global.Registrarse, "EnviarLinkAcceso", new { ID = "1" })
                    &nbsp; &nbsp;
                    @Html.ActionLink(@Global.OlvideContrasenia, "EnviarLinkAcceso", new { ID = "0" })
                </div>*@

        </fieldset>
    }

</div>

<script>
    var padding = ($(window).height() / 2) - ($("#container .container").height() / 2) - 30;
    $("#container .container").css("padding-top", padding + "px");
</script>